.profile-settings {
  input {
    width: 345px !important;
  }
  button.btn-main {
    padding: 10px 40px;
  }
  a.btn-main {
    padding: 13px 40px;
  }
}

.upload-picture {
  img {
    width: 150px;
    height: 150px;
    object-fit: cover;
  }
  label {
    cursor: pointer;
  }
}