.settings {
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
}


.settings img {
    height: 80px;
    width: 80px;
    margin-bottom: 15px;
}

.nameControlArea {
    width: 100%;
    margin-bottom: 20px;
}
.privateText {
    margin-bottom: 25px;
}
.passwordText {
    margin-top: 25px;
    margin-bottom: 15px;
}
.settings button {
    background: #47525E;
    color: aliceblue;
    width: 25%;
}
.paymentText {
    margin-top: 30px;
    margin-bottom: 20px;
}

.noteText {
    margin-top: 40px;
    margin-bottom: 30px;
}
.noteText p {
    margin: 0;
}
.profileText {
    margin-bottom: 15px;
    margin-top: 15px;
}
